.chat-list {
  width: 20%;
  background: #ffffff;
  border-right: 1px solid #ddd;
  padding: 16px;
}

.chat-rooms {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.chat-room {
  padding: 12px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
  background: #f8f9fa;
}

.chat-room:hover {
  background: #d0ebff;
}
